<div id="fh5co-footer" >
	<div class="container">
	  <div class="row">
		<div class="text-center">
				  <p><small>
					  Connect with us on: 
				   {% if config.THEME_SETTINGS.footer_github %}
					  <a href="{{ config.THEME_SETTINGS.footer_github }}">Github</a>
				   {% endif %}
				   {% if config.THEME_SETTINGS.footer_twitter %}
				   <span class="pipe-red">|</span> <a href="{{ config.THEME_SETTINGS.footer_twitter }}">Twitter</a>
				   {% endif %}
				   {% if config.THEME_SETTINGS.footer_facebook %}
				   <span class="pipe-red">|</span> <a href="{{ config.THEME_SETTINGS.footer_facebook }}">Facebook</a>
				   {% endif %}
				   {% if config.THEME_SETTINGS.footer_linkedin %}
				   <span class="pipe-red">|</span> <a href="{{ config.THEME_SETTINGS.footer_linkedin }}">LinkedIn</a>
				   {% endif %}
				   {% if config.THEME_SETTINGS.footer_instagram %}
				   <span class="pipe-red">|</span> <a href="{{ config.THEME_SETTINGS.footer_instagram }}">Instagram</a>
				   {% endif %}
				   {% if config.THEME_SETTINGS.footer_google %}
				   <span class="pipe-red">|</span> <a href="{{ config.THEME_SETTINGS.footer_google }}">Google Groups</a>
				   {% endif %}
		   
				  </small></p>
			  </div>
		  </div>
		  
		  <div class="row">
		<div class="text-center">
	  {{ config.THEME_SETTINGS.footer_note | safe }}
			  </div>
		  </div>
	</div>
  </div>
  