<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
{% if config.THEME_SETTINGS.gitter_room %}
  <script>
    ((window.gitter = {}).chat = {}).options = {
    room: '{{ config.THEME_SETTINGS.gitter_room }}',
    activationElement: '#open_chat',
    };
  </script>
  <a href="https://gitter.im/spyder-ide/public" id="open_chat" class="gitter-open-chat-button"
  style="background-color:#bc5736;">Open Chat</a>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
{% endif %}
<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="../static/js/jquery.stellar.min.js"></script>
<!-- Magnific Popup -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/magnific-popup-options.js"></script>
<!-- Main JS -->
<script src="../static/js/main.js"></script>
