{% if config.THEME_SETTINGS.gitter_room %}
  <script>
    ((window.gitter = {}).chat = {}).options = {
    room: '{{ config.THEME_SETTINGS.gitter_room }}',
    activationElement: '#open_chat',
    };
  </script>
  <a href="https://gitter.im/{{ config.THEME_SETTINGS.gitter_room }}" id="open_chat" class="gitter-open-chat-button">Open Chat</a>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
{% endif %}
<!-- jQuery -->
<script src="{{ '/static/js/jquery.min.js'|asseturl }}"></script>
<!-- jQuery Easing -->
<script src="{{ '/static/js/jquery.easing.1.3.js'|asseturl }}"></script>
<!-- Bootstrap -->
<script src="{{ '/static/js/bootstrap.min.js'|asseturl }}"></script>
<!-- Waypoints -->
<script src="{{ '/static/js/jquery.waypoints.min.js'|asseturl }}"></script>
<!-- Stellar Parallax -->
<script src="{{ '/static/js/jquery.stellar.min.js'|asseturl }}"></script>
<!-- Magnific Popup -->
<script src="{{ '/static/js/jquery.magnific-popup.min.js'|asseturl }}"></script>
<script src="{{ '/static/js/magnific-popup-options.js'|asseturl }}"></script>
<!-- Main JS -->
<script src="{{ '/static/js/main.js'|asseturl }}"></script>
