<div class="js-sticky">
	<div class="fh5co-main-nav navbar fixed-top">
		<div class="container">
		<div class="fh5co-menu-1">

			{% if config.THEME_SETTINGS.nav_logo_enable and (config.THEME_SETTINGS.nav_logo_path or config.THEME_SETTINGS.nav_logo_text) %}
			<div class='pull-left'>
				<ul class='dropdown menu' data-dropdown-menu>
					<li id='menu-logo'>
						<p></p>
						<a href='{{ '/'|url }}'>
							{% if config.THEME_SETTINGS.nav_logo_path %}
							<img src='{{ config.THEME_SETTINGS.nav_logo_path | url}}'>
							{% endif %}
							{% if config.THEME_SETTINGS.nav_logo_text %}
							<span>
								<span id='logo-text'>{{ config.THEME_SETTINGS.nav_logo_text | safe }} {% block section %}{% endblock %}</span>
							</span>
							{% endif %}
						</a>
						<p></p>
					</li>
				</ul>
			</div>
			{% endif %}
	  <a href="#" data-nav-section="home">Home</a>
	  {% if config.THEME_SETTINGS.overview_enable %}
	  <a href="#" data-nav-section="mission">{{ config.THEME_SETTINGS.overview_nav }}</a>
	  {% endif %}

	  {% if config.THEME_SETTINGS.services_enable %}
	  <a href="#" data-nav-section="services">{{ config.THEME_SETTINGS.services_nav }}</a>
	  {% endif %}
	  
	  {% if config.THEME_SETTINGS.work_enable %}
	  <a href="#" data-nav-section="gallery">{{ config.THEME_SETTINGS.work_nav }}</a>
	  {% endif %}
  
	  {% if config.THEME_SETTINGS.team_enable %}
	  <a href="#" data-nav-section="team">{{ config.THEME_SETTINGS.team_nav }}</a>
	  {% endif %}
	  
	  {% if config.THEME_SETTINGS.download_nav %}
	  <a href="#" data-nav-section="{{config.THEME_SETTINGS.download_nav}}">{{ config.THEME_SETTINGS.download_nav }}</a>
	  {% endif %}

	  {% if config.THEME_SETTINGS.donate_nav %}
	  <a href="#" data-nav-section="donate">{{config.THEME_SETTINGS.donate_nav}}</a>
  	  {% endif %}

	  {% if config.THEME_SETTINGS.nav_extension %}
		  {% if config.THEME_SETTINGS.ext_3_ref %}
		  <a class="pull-right" href="{{config.THEME_SETTINGS.ext_3_ref | url}}">{{config.THEME_SETTINGS.ext_3_title}}</a>
		  {% endif %}
		  {% if config.THEME_SETTINGS.ext_2_ref %}
		  <a class="pull-right" href="{{config.THEME_SETTINGS.ext_2_ref | url}}" >{{config.THEME_SETTINGS.ext_2_title}}</a>
		  {% endif %}
		  {% if config.THEME_SETTINGS.ext_1_ref %}
		  <a class="pull-right" href="{{config.THEME_SETTINGS.ext_1_ref}}" >{{config.THEME_SETTINGS.ext_1_title}}</a>
		  {% endif %}
	  {% endif %}

	  
		</div>
		  </div>
  
	  </div>
	  
  </div>
  