<div class="js-sticky">
	<div class="fh5co-main-nav navbar fixed-top">
		<div class="container">
		<div class="fh5co-menu-1">
		
			{%if config.THEME_SETTINGS.spyder_nav_content %}
			<div class='pull-left'>
				<ul class='dropdown menu' data-dropdown-menu>
					<li id='menu-logo'>
						<p></p>
						<a href='{{ '/'|url }}'>
							<img src='{{ '/static/images/spyder-logo.svg' | url}}'>
							<span>
								<span id='logo-text'>Spyder {% block section %}{% endblock %}</span>                  
							</span>
						</a>
						<p></p>
					</li>
				</ul>
			</div>
		{% endif %}
	  <a href="#" data-nav-section="home">Home</a>
	  {% if config.THEME_SETTINGS.mission_enable %}
	  <a href="#" data-nav-section="mission">{{ config.THEME_SETTINGS.nav_mission }}</a>
	  {% endif %}
  
	  {% if config.THEME_SETTINGS.services_enable %}
	  <a href="#" data-nav-section="services">{{ config.THEME_SETTINGS.nav_services }}</a>
	  {% endif %}
	  
	  {% if config.THEME_SETTINGS.work_enable %}
	  <a href="#" data-nav-section="gallery">{{ config.THEME_SETTINGS.nav_work }}</a>
	  {% endif %}
  
	  {% if config.THEME_SETTINGS.team_enable %}
	  <a href="#" data-nav-section="team">{{ config.THEME_SETTINGS.nav_team }}</a>
	  {% endif %}
  
	  {% if config.THEME_SETTINGS.extension_nav %}
		  {% if config.THEME_SETTINGS.ext_3_ref %}
		  <a class="pull-right" href="{{config.THEME_SETTINGS.ext_3_ref | url}}">{{config.THEME_SETTINGS.ext_3_title}}</a>
		  {% endif %}
		  {% if config.THEME_SETTINGS.ext_2_ref %}
		  <a class="pull-right" href="{{config.THEME_SETTINGS.ext_2_ref | url}}" >{{config.THEME_SETTINGS.ext_2_title}}</a>
		  {% endif %}
		  {% if config.THEME_SETTINGS.ext_1_ref %}
		  <a class="pull-right" href="{{config.THEME_SETTINGS.ext_1_ref | url}}" >{{config.THEME_SETTINGS.ext_1_title}}</a>
		  {% endif %}
	  {% endif %}

	  {% if config.THEME_SETTINGS.donate_nav %}
	  	<a class="pull-right" href="#" data-nav-section="donate">{{config.THEME_SETTINGS.donate_nav}}</a>
	  {% endif %}
		</div>
		  </div>
  
	  </div>
	  
  </div>
  