{%- macro render_blog_post(post, from_index=false) %}
{%- if post.author %}
{%- set author =  site.get('authors/' + post.author) %}
{%- if not author %}
{%- set author = post.author %}
{%- endif %}
{%- else %}
{%- set author = '' %}
{%- endif %}
<div class="blog-post">
  <div class="blog-header blog-{%- if from_index %}index{%- else %}post{%- endif %}-header">
    {%- if from_index %}
      <h2><a href="{{ post | url }}">{{ post.title }}</a></h2>
    {%- else %}
      <h1>{{ post.title }}</h1>
    {%- endif %}

    <div class="row align-items-center mb-2 g-2">
      {%- if author.image %}
        <div class="col-auto">
          <div class="meta-blog-author">
            <img alt="{{ author.name | striptags | striptags }} photo" class="author-img" src="{{ (author.path ~ '/' ~ author.image) | url }}">
          </div>
        </div>
      {%- endif %}
      <div class="col">
        <div class="meta-blog-index">
          {%- if author.name %}
          {{ author.name }}<br>
          {%- elif author %}
          {{ author }}<br>
          {%- endif %}
          {%- if post.pub_date %}
          <span class="small">{{ post.pub_date.strftime('%Y-%m-%d') }}</span>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>

  {%- if not from_index %}
  {{ post.body }}
  {%- endif %}

  {%- if from_index %}
  {%- if post.summary %}
  {{ post.summary }}
  {%- endif %}
  <p class="text-end">
    <a href="{{ post | url }}">Read more...</a>
  </p>
  {%- endif %}
</div>
{%- endmacro %}
