<div id="fh5co-home" class="js-fullheight-home" data-section="home" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="col-md-6">
      <div class="js-fullheight-home fh5co-copy">
        <div class="js-fullheight-home fh5co-copy-inner">
          {% if config.THEME_SETTINGS.hero_title %}
          <h1>{{ config.THEME_SETTINGS.hero_title }}</h1>
          {% endif %}
          {% if config.THEME_SETTINGS.hero_description %}
          <h2>{{ config.THEME_SETTINGS.hero_description | safe }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
