{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
<!-- Magnific Popup -->
<link rel="stylesheet" href="{{ '/static/css/magnific-popup.css'|asseturl }}" type="text/css">
{% endblock %}

{% block loader %}
{% if config.THEME_SETTINGS.loader_enable and config.THEME_SETTINGS.loader_enable.lower() not in ["false", "f", "no", "n"] %}
<div class="fh5co-loader"></div>
{% endif %}
{% endblock %}


{% block nav_main %}
{% if config.THEME_SETTINGS.nav_home_enable and config.THEME_SETTINGS.nav_home_enable.lower() not in ["false", "f", "no", "n"] %}
<a href="#fh5co-home" data-nav-section="home">Home</a>
{% endif %}

{% if config.THEME_SETTINGS.overview_enable and config.THEME_SETTINGS.overview_enable.lower() not in ["false", "f", "no", "n"] and config.THEME_SETTINGS.overview_nav %}
<a href="#fh5co-mission" data-nav-section="mission">{{ config.THEME_SETTINGS.overview_nav }}</a>
{% endif %}

{% if config.THEME_SETTINGS.services_enable and config.THEME_SETTINGS.services_enable.lower() not in ["false", "f", "no", "n"] and config.THEME_SETTINGS.services_nav %}
<a href="#fh5co-services" data-nav-section="services">{{ config.THEME_SETTINGS.services_nav }}</a>
{% endif %}

{% if config.THEME_SETTINGS.work_enable and config.THEME_SETTINGS.work_enable.lower() not in ["false", "f", "no", "n"] and config.THEME_SETTINGS.work_nav %}
<a href="#fh5co-gallery" data-nav-section="gallery">{{ config.THEME_SETTINGS.work_nav }}</a>
{% endif %}

{% if config.THEME_SETTINGS.team_enable and config.THEME_SETTINGS.team_enable.lower() not in ["false", "f", "no", "n"] and config.THEME_SETTINGS.team_nav %}
<a href="#fh5co-team" data-nav-section="team">{{ config.THEME_SETTINGS.team_nav }}</a>
{% endif %}

{% if config.THEME_SETTINGS.download_enable and config.THEME_SETTINGS.download_enable.lower() not in ["false", "f", "no", "n"] and config.THEME_SETTINGS.download_nav %}
<a href="#fh5co-download" data-nav-section="download">{{ config.THEME_SETTINGS.download_nav }}</a>
{% endif %}

{% if config.THEME_SETTINGS.donate_enable and config.THEME_SETTINGS.donate_enable.lower() not in ["false", "f", "no", "n"] and config.THEME_SETTINGS.donate_nav %}
<a href="#fh5co-donate" data-nav-section="donate">{{ config.THEME_SETTINGS.donate_nav }}</a>
{% endif %}
{% endblock %}

{% block body %}
{% include "partials/hero.html" %}

{% if config.THEME_SETTINGS.mission_enable and config.THEME_SETTINGS.mission_enable.lower() not in ["false", "f", "no", "n"] %}
    {% for mission in this.mission.blocks%}
        {{ mission }}
    {% endfor %}
{% endif %}

{% if config.THEME_SETTINGS.overview_enable and config.THEME_SETTINGS.overview_enable.lower() not in ["false", "f", "no", "n"] %}
    {% for overview in this.overview.blocks%}
        {{ overview }}
    {% endfor %}
{% endif %}

{% if config.THEME_SETTINGS.services_enable and config.THEME_SETTINGS.services_enable.lower() not in ["false", "f", "no", "n"] %}
{{ this.services }}
{% endif %}

{% if config.THEME_SETTINGS.work_enable and config.THEME_SETTINGS.work_enable.lower() not in ["false", "f", "no", "n"] %}
{{ this.work }}
{% endif %}

{% if config.THEME_SETTINGS.team_enable and config.THEME_SETTINGS.team_enable.lower() not in ["false", "f", "no", "n"] %}
{{ this.team }}
{% endif %}

{% if config.THEME_SETTINGS.download_enable and config.THEME_SETTINGS.download_enable.lower() not in ["false", "f", "no", "n"] %}
    {% for download in this.download.blocks%}
        {{ download }}
    {% endfor %}
{% endif %}

{% if config.THEME_SETTINGS.donate_enable and config.THEME_SETTINGS.donate_enable.lower() not in ["false", "f", "no", "n"] %}
{% include "partials/donate.html" %}
{% endif %}
{% endblock %}

{% block scripts %}
<!-- jQuery Easing -->
<script src="{{ '/static/js/jquery.easing.1.3.js'|asseturl }}" type="application/javascript" charset="UTF-8"></script>
<!-- Bootstrap -->
<script src="{{ '/static/js/bootstrap.min.js'|asseturl }}" type="application/javascript" charset="UTF-8"></script>
<!-- Stellar Parallax -->
<script src="{{ '/static/js/jquery.stellar.min.js'|asseturl }}" type="application/javascript" charset="UTF-8"></script>
<!-- Magnific Popup -->
<script src="{{ '/static/js/jquery.magnific-popup.min.js'|asseturl }}" type="application/javascript" charset="UTF-8"></script>
<script src="{{ '/static/js/magnific-popup-options.js'|asseturl }}" type="application/javascript" charset="UTF-8"></script>
<!-- Main JS -->
<script src="{{ '/static/js/main.js'|asseturl }}" type="application/javascript" charset="UTF-8"></script>
{% endblock %}
